<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Editar veículo</h1>
    </div>
</div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Preencha ou edite os campos abaixo
      </div>
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
